HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

!build/libs

application-dev.yml
!application.yml
!application-prod.yml
!deploy.yml
*/**/generated/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### 💾 실행/빌드 결과 ###
*.log
*.hprof
heapdump*

### 🧪 테스트/커버리지 ###
test-results/
coverage/

### 🔒 환경/보안 설정 파일 ###
.env.local
application-*.yaml
application-*.properties

*.keystore
*.jks
*.p12
*.crt
*.pem